<form [formGroup]="recipeEditForm" 
        (click)="onFormSubmit()">
    <div class="row"
    style="margin-top: 10px; margin-left: 30px;">
        <div class="col-xs-12">
            <button 
            type="submit" 
            class="btn btn-primary"
            [disabled]="!recipeEditForm.valid">Save</button>
            <button 
            type="button" 
            class="btn btn-danger">Reset</button>
        </div>
    </div>

    <div class="row"
    style="margin-top: 10px; margin-left: 30px;">
        <div class="col-xs-12" style="margin-top: 10px;">
                <label for="name">Recipe Name</label>
                <input type="text" 
                class="form-control"
                formControlName="recipeName">
        </div>
        <div class="col-xs-12" style="margin-top: 10px;">
            <label for="name">Image URL</label>
            <input type="text" 
            class="form-control"
            formControlName="recipeImagePath">
        </div>
        <div class="col-xs-12" style="margin-top: 10px;">
            <label for="name">Recipe Description</label>
            <textarea type="textarea" 
            class="form-control"
            rows="6"
            formControlName="recipeDesc"></textarea>
        </div>
        <div class="row" style="margin-top: 10px; margin-left: 30px;"
        formArrayName="recipeIngrediant"> 
                <div class="row" *ngFor="let ingCtrl of controls; let i = index"
                [formGroupName]= "i"
                >
                    <div class="col-xs-6" style="margin-top: 10px;">
                        <input type="text" 
                         class="form-control"
                         formControlName="ingName">                         
                    </div>                                        
                    <div class="col-xs-3" style="margin-top: 10px;">
                        <input type="text" 
                         class="form-control"
                         formControlName="ingAmount">                         
                    </div> 
                    <div class="col-xs-2" style="margin-top: 10px;">
                        <button type="button" 
                        class="btn btn-danger">X</button>
                    </div>
                </div>
                <div class="row"
                style="margin-top: 10px;">
                    <div class="col-xs-4"
                    style="margin-top: 10px;">
                        <button type="button"
                        class="btn btn-primary"
                        (click)="addIngSlot()">
                            Add Ingrediant
                        </button>
                    </div>
                </div>
        </div>
    </div>
</form>